Source: node-rc
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Build-Depends: debhelper-compat (= 12)
 , pkg-js-tools (>= 0.9.20~)
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/js-team/node-rc
Vcs-Git: https://salsa.debian.org/js-team/node-rc.git
Homepage: https://github.com/dominictarr/rc
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-rc
Architecture: all
Depends: ${misc:Depends}
 , node-deep-extend
 , node-ini
 , node-minimist
 , node-strip-json-comments
 , nodejs
Description: find, load, flatten json or ini application configuration
 This Node.js module finds and loads configuration files in the usual
 places, loads them, and flatten them in that order:
  - command line arguments (parsed by minimist)
  - environment variables prefixed with $appname_
  - config file path given as `--config` argument
  - .${appname}rc in parents folders, in home, or /etc
  - .config/$appname or .config/$appname/config in home
  - /etc/$appname/config
 It is also possible to set a custom command-line options parser
 or a custom configuration file parser.
 .
 Node.js is an event-based server-side JavaScript engine
